body {
    margin: 0;
    min-height: 100vh;
}


.top-content {
    background-color: #1F2937;  
    padding: 16px;
}

.header {
    display: flex;
    justify-content: space-around;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    margin-left: -95px;
}

.header-links{
    display: flex;
    color:  #E5E7EB;
    font-size: 18px;
    list-style: none;
    gap: 16px;
}

.top {
    display: flex;
    justify-content: space-around;
    margin: 40px;
}

.top-image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(149, 148, 148);
    width: 600px;
    height: 200px;
    color:  #E5E7EB;
    margin: 10px 30px;
}

.top-text {
    color: #F9FAF8;
    font-weight: bolder;
    font-size: 48px;
}

.top-text p,
.top-text button {
    color:  #E5E7EB;
    font-size: 18px;
    font-weight: lighter;
}
.top-text button{
    padding: 5px 10px;
    background-color: #3882F6;
}


















