body {
    margin: 0;
    min-height: 100vh;
}


.top-content {
    background-color: #1F2937;  
    padding: 16px;
}

.header {
    display: flex;
    justify-content: space-around;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    margin-left: -95px;
}

.header-links{
    display: flex;
    color:  #E5E7EB;
    font-size: 18px;
    list-style: none;
    gap: 16px;
}

.top {
    display: flex;
    justify-content: space-around;
    margin: 40px;
}

.top-image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(149, 148, 148);
    width: 600px;
    height: 200px;
    color:  #E5E7EB;
    margin: 10px 30px;
}

.top-text {
    color: #F9FAF8;
    font-weight: bolder;
    font-size: 48px;
}

.top-text p,
.top-text button {
    color:  #E5E7EB;
    font-size: 18px;
    font-weight: lighter;
}
button{
    padding: 5px 10px;
    width: 120px;
    background-color: #3882F6;
    border-radius: 9px;
    border: none;
}

.middle {
    display: flex;
    flex-direction: column;
}

.middle-images {
    display: flex;
    justify-content: space-around;
}

.middle-heading {
    align-self: center;
    margin: 30px;
    font-weight: bolder;
    font-size: 36px;
    color: #1F2937;
}

.middle-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.image {
    border: #3882F6 5px solid;
    border-radius: 25px;
    width: 150px;
    height: 150px;
}

.middle-image p{
    color:  #181818;
    font-size: 18px;
}

.middle-quote {
    padding: 100px;
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    height: 250px;
    width: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.quote{
    font-weight: lighter;
    font-style: italic;
    font-size: 36px;
    font-family:Arial, Helvetica, sans-serif;
    color: #1F2937
}

.author {
    align-self: flex-end;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

.bottom {
    display: flex;
    margin: 70px;
    background-color: #3882F6;
    gap: 60px;
    padding: 10px 70px;
}

.bottom button {
    align-self: center;
    width: 100px;
    height: 30px;
    color: #E5E7EB;
    font-weight: bold;
    border: #F9FAF8 2px solid;
}

.text p {
    color: #F9FAF8;
    font-family:Arial, Helvetica, sans-serif
}

.bottom-heading {
    font-weight: bolder;
    font-size: large;
}

.bottom-text {
    font-size: 14px;
    margin-top: -10px;
}



